<h1> About Bryan Belding</h1>

<p> Below is a list of ways I'm dissapointed with Bryan</p>
<ul>
  <li> He never bought Rocket League </li>
  <li> He's not playing Overwatch </li>
  <li> He thinks DC is better than Marvel</li>
  <li> One time he talked about working out </li>
</ul>

<%= link_to 'Home', root_path %>