
<div class="center jumbotron">
  <h1>FXF PTMotor Adhoc</h1>
    <%= link_to "Request Access", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
    <%= link_to "Sign In", login_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>
